footer
    .container
        h2.brandname Store
        .footernav
            .account.fooblock
                h3.navsection My Account
                ul.navlist
                    li
                        a(href='javascript:void(0)') How to buy
                    li
                        a(href='javascript:void(0)') General Information
                    li
                        a(href='javascript:void(0)') Payment
                    li
                        a(href='javascript:void(0)') Shipping
                    li
                        a(href='javascript:void(0)') Returns
                    li
                        a(href='javascript:void(0)') Exchanges
                    li
                        a(href='javascript:void(0)') Gift Card
                    li
                        a(href='javascript:void(0)') Profile
            .account.fooblock
                h3.navsection Company
                ul.navlist
                    li
                        a(href='javascript:void(0)') About us
                    li
                        a(href='javascript:void(0)') Offices
                    li
                        a(href='javascript:void(0)') Stores
                    li
                        a(href='javascript:void(0)') Work with us
                    li
                        a(href='javascript:void(0)') Contact
                    li
                        a(href='javascript:void(0)') FAQ
            .account.fooblock
                h3.navsection Policies
                ul.navlist
                    li
                        a(href='javascript:void(0)') Privacy
                    li
                        a(href='javascript:void(0)') Terms
                    li
                        a(href='javascript:void(0)') Shipping
                    li
                        a(href='javascript:void(0)') Gift Card Conditions
        ul.socials
            li
                a(href='https://facebook.com', target='_blank')
                    i.icon-facebook
            li
                a(href='https://twitter.com', target='_blank')
                    i.icon-twitter
            li
                a(href='https://dribbble.com', target='_blank')
                    i.icon-dribbble
            li
                a(href='https://linkedin.com', target='_blank')
                    i.icon-linkedin
        p.copy Copyright &copy; 2018 | Hogash.com
button.scroll_top(type='button')
button#bottom.scroll_bottom(type='button')
  a(href='#bottom')
script(src='js/jquery.min.js')
script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js')
script(src='js/all.js')
script(src='js/main.js')