nav
  .brandwrap
    button.hamburger.hamburger--minus(type='button')
      span.hamburger-box
        span.hamburger-inner
    a.brand(href='index.html') Store
  .user-action
    form(method='POST')
      input#searchfield(type='text', placeholder='Search', required='')
    .profile-action
      a#loginlink(href='javascript:void(0)') Login
      |  / 
      a#joinlink(href='join.html') Join
    .cart-display
      a(href='checkout.html')
        i.icon-cart
      span#cart-qty 1
    ul#submenu
      li
        a(href='index.html') Home
      li
        a(href='about.html') About
      li
        a(href='catalog.html') Catalog
      li
        a(href='blog.html') Blog
      li
        a(href='contact.html') Contact

