* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  transition: all, 0.2s ease;
}
button {
  background: transparent;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
input {
  background: transparent;
  border: none;
}
label {
  cursor: pointer;
}
body {
  background: #f9f9f9;
  color: #262626;
  overflow-x: hidden;
}
.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
header,
main {
  box-shadow: 0px 0px 10px 5px rgba(161, 152, 161, 0.3);
  background: #ffffff;
}
main {
  margin: 65px 50px 0;
  padding: 80px 0;
  text-align: center;
}
header {
  margin: 0 50px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 200px 50px;
  max-height: 500px;
}
header h1 {
  font-size: 80px;
  font-family: 'Prata';
  position: relative;
}
header h1::after {
  width: 150px;
  height: 2px;
  content: '';
  position: absolute;
  top: 50%;
  background-color: #262626;
  transform: translateY(50%);
  margin-left: 20px;
}
section h2 {
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-size: 38px;
  letter-spacing: 2px;
}
nav {
  display: flex;
  flex-wrap: nowrap;
  padding: 50px 50px 18px;
  justify-content: space-between;
  transition: all, 0.3s ease-in;
  align-items: center;
  position: relative;
  z-index: 10000;
}
nav.sticky {
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  backdrop-filter: blur(2px);
  position: fixed;
  z-index: 500;
  width: 100%;
  top: 0;
  padding: 18px 50px;
}
nav.sticky + .top-slider,
nav.sticky + header {
  padding-top: 60px;
}
nav.sticky .hamburger-inner,
nav.sticky .hamburger-inner::before,
nav.sticky .hamburger-inner::after,
nav.sticky .hamburger.is-active .hamburger-inner {
  background-color: #ffffff;
}
nav.sticky #searchfield {
  border-bottom-color: #ffffff !important;
  color: #ffffff !important;
}
nav.sticky #searchfield::placeholder {
  color: #ffffff !important;
}
nav.sticky .brandwrap .brand:hover {
  border-bottom-color: #ffffff !important;
}
nav.sticky .user-action .profile-action a:hover,
nav.sticky .cart-display a:hover {
  color: #7e7e7e !important;
}
nav .brandwrap {
  display: flex;
  align-items: center;
}
nav .brandwrap .brand {
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: 800;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
}
nav .brandwrap .brand:hover {
  border-bottom-color: #262626;
}
nav .user-action {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: auto;
}
nav .user-action #searchfield {
  font-size: 16px;
  font-family: 'Prata';
  width: 90%;
  max-width: 280px;
  padding: 5px 5px 10px;
  border-bottom: 2px solid #efedee;
  margin-right: 40px;
}
nav .user-action #searchfield::placeholder {
  font-size: 13px;
  color: #7e7e7e;
}
nav .user-action .profile-action {
  margin: 0 30px 0 40px;
  font-size: 14px;
  font-family: 'Prata';
}
nav .user-action .profile-action a:hover {
  color: #bd1a1a;
}
nav .user-action .cart-display {
  font-size: 22px;
}
nav .user-action .cart-display a:hover {
  color: #bd1a1a;
}
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner {
  background-color: #000;
}
.hamburger.is-active .hamburger-inner::before {
  background-color: #000;
}
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}
.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform background;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
.hamburger-inner::before {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform background;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  content: "";
  display: block;
  top: -10px;
}
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform background;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  content: "";
  display: block;
  bottom: -10px;
}
.hamburger--minus .hamburger-inner::before {
  transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear;
}
.hamburger--minus .hamburger-inner::after {
  transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear;
}
.hamburger--minus.is-active .hamburger-inner::before {
  opacity: 0;
  transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear;
  top: 0;
}
.hamburger--minus.is-active .hamburger-inner::after {
  opacity: 0;
  transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear;
  bottom: 0;
}
nav #submenu {
  left: -100%;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  position: absolute;
  width: 100%;
  bottom: -48px;
  z-index: 9999;
  padding: 15px 50px;
  background-color: #000000;
  min-width: 160px;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
  transition: all, 0.2s ease;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Prata';
  backdrop-filter: blur(2px);
  display: flex;
}
nav #submenu.is-active-nav {
  left: 0%;
}
nav #submenu li {
  border-bottom: 1px solid transparent;
  transition: all, 0.3s ease;
}
nav #submenu li:hover {
  border-bottom-color: #ffffff;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.top-slider {
  margin: 0 50px;
  position: relative;
  box-shadow: 0px 0px 10px 5px rgba(161, 152, 161, 0.3);
  background: #ffffff;
}
.top-slider .hotcontrols {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 100;
}
.top-slider .hotcontrols a {
  position: absolute;
  transform: translateY(-50%);
}
.top-slider .hotcontrols a:hover {
  opacity: 0.7;
}
.top-slider .hotcontrols a i {
  font-size: 80px;
  color: #262626;
}
.top-slider .hotcontrols a#goprev {
  left: 0;
}
.top-slider .hotcontrols a#gonext {
  right: 0;
}
.top-slider #hotproducts li {
  display: flex;
  flex-wrap: nowrap;
  padding: 50px 50px;
  justify-content: space-between;
  align-items: center;
}
.top-slider #hotproducts li .hot-img {
  width: 40%;
}
.top-slider #hotproducts li .hot-img img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.top-slider #hotproducts li .hot-text {
  text-align: center;
  padding: 50px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-slider #hotproducts li .hot-text .hotitem-name {
  font-family: 'Prata';
  font-size: 40px;
}
.top-slider #hotproducts li .hot-text .hotitem-price {
  font-family: 'Proxima Nova';
  font-size: 24px;
  margin: 50px 0;
}
.top-slider #hotproducts li .hot-text .tocart {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Montserrat';
  background-color: #262626;
  font-size: 11px;
  letter-spacing: 1px;
  padding: 20px 100px;
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
  border: 2px solid transparent;
}
.top-slider #hotproducts li .hot-text .tocart:hover {
  border-color: #262626;
  background-color: transparent;
  color: #262626;
}
.gallery #lookbook {
  padding: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px 30px;
  grid-template-areas: "sm1 sm2 big big" "sm3 sm4 big big" "md1 md1 md2 md2";
}
.gallery #lookbook .big {
  grid-area: big;
}
.gallery #lookbook .sm1 {
  grid-area: sm1;
}
.gallery #lookbook .sm2 {
  grid-area: sm2;
}
.gallery #lookbook .sm3 {
  grid-area: sm3;
}
.gallery #lookbook .sm4 {
  grid-area: sm4;
}
.gallery #lookbook .md1 {
  grid-area: md1;
}
.gallery #lookbook .md2 {
  grid-area: md2;
}
.gallery #lookbook img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.newitem {
  padding: 10px;
  cursor: pointer;
  background: url('../img/ajax-loader.gif') no-repeat;
  background-position: center center;
  width: 25%;
  transition: all, 0.2s ease;
}
.newitem:hover {
  box-shadow: 0px 0px 10px 5px rgba(161, 152, 161, 0.3);
}
.newitem .short-info .itemname {
  font-family: 'Prata';
  font-size: 16px;
  text-transform: capitalize;
}
.newitem .short-info .itemprice {
  font-family: 'Proxima Nova';
  font-size: 16px;
  padding: 5px 0;
}
.newitem .customer-action {
  display: flex;
  flex-wrap: nowrap;
  margin: 10px 0;
}
.newitem .customer-action .actbtn {
  width: 50%;
  font-family: 'Montserrat';
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px 0;
  border: 1px solid #262626;
  margin: 0 5px;
}
.newitem .customer-action .actbtn:hover {
  background-color: #262626;
  color: #ffffff;
}
.newitems {
  padding: 50px 50px 0;
}
.newitems h3 {
  font-family: 'Prata';
  font-size: 24px;
  font-weight: 400;
  padding: 15px 0;
}
.newitems #catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 50px;
}
.newitems #catalog li.hidden {
  width: 320px;
}
.newitems #catalog li img {
  display: block;
  object-fit: cover;
  width: 100%;
}
.newitems #showmore {
  border: 1px solid #262626;
  text-align: center;
  border-radius: 50%;
  display: flex;
  height: 40px;
  width: 40px;
  font-size: 22px;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
}
.newitems #showmore:hover {
  opacity: 0.4;
}
.map {
  padding: 50px 50px 0;
}
.map h2 {
  padding-bottom: 60px;
}
.map .shop_slider {
  position: relative;
}
.map #showrooms {
  position: relative;
}
.map #showrooms li {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
}
.map #showrooms li .shopimg,
.map #showrooms li .shopinfo {
  width: 50%;
  padding: 60px;
}
.map #showrooms li img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.map #showrooms li .shopinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.map #showrooms li .shopinfo .city {
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 32px;
}
.map #showrooms li .shopinfo .address {
  font-size: 18px;
  font-family: 'Proxima Nova';
  margin-bottom: 15px;
}
.map #showrooms li .shopinfo .hours {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
}
.map #map {
  height: 600px;
  margin: 50px 0 0;
}
.map #map a.leaflet-bar-part.leaflet-bar-part-single {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mr_general {
  padding: 10px 0;
}
.mr_general .mr_city {
  font-size: 16px;
  font-family: 'Montserrat';
  font-weight: bold;
  margin-top: 0;
}
.mr_general .mr_add,
.mr_general .mr_loc {
  font-size: 18px;
}
.mr_general .mr_add {
  font-family: 'Proxima Nova';
}
.mr_general .mr_loc {
  font-family: 'Prata';
  color: #bd1a1a;
}
.mr_additional {
  padding: 30px 0;
}
.mr_additional a {
  display: block;
  font-size: 14px;
  font-family: 'Montserrat';
  font-weight: bold;
  letter-spacing: 1px;
  border-bottom: 2px solid transparent;
  padding: 10px 0;
}
.mr_additional a i {
  padding-right: 15px;
  font-size: 16px;
}
.mr_additional a:hover {
  border-bottom-color: #7e7e7e;
}
.mr_additional .mr_hours {
  font-family: 'Proxima Nova';
  font-size: 16px;
}
footer {
  padding: 120px 0 60px;
}
footer .brandname {
  text-align: center;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 5px;
}
footer .footernav {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 100px;
  justify-content: space-around;
}
footer .footernav .fooblock .navsection {
  font-size: 14px;
  font-family: 'Prata';
  margin-bottom: 20px;
}
footer .footernav .fooblock a {
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 300;
  line-height: 40px;
  color: #999999;
}
footer .footernav .fooblock a:hover {
  color: #262626;
}
footer .socials {
  display: flex;
  width: max-content;
  flex-wrap: nowrap;
  margin: 80px auto 30px;
}
footer .socials li {
  margin: 0 15px;
}
footer .socials li a {
  color: #b2b2b2;
}
footer .socials li a i {
  font-size: 16px;
}
footer .socials li a:hover {
  color: #262626;
}
footer .copy {
  text-align: center;
  font-family: 'Prata';
  font-size: 12px;
}
.scroll_top,
.scroll_bottom {
  width: 50px;
  height: 50px;
  outline: none;
  position: fixed;
  background-color: transparent;
  border: 3px solid #262626;
  z-index: 100;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 5px;
  opacity: 0.7;
}
.scroll_top:hover,
.scroll_bottom:hover {
  opacity: 1;
}
.scroll_top {
  bottom: -50px;
  right: 20px;
}
.scroll_top:after {
  content: "";
  width: 12px;
  height: 12px;
  border-top: 2px solid #262626;
  border-left: 2px solid #262626;
  transform: rotate(45deg);
  position: absolute;
  top: 7px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.scroll_top.active {
  bottom: 100px;
}
.scroll_bottom {
  display: none;
}
.scroll_bottom:after {
  content: "";
  width: 12px;
  height: 12px;
  border-top: 2px solid #262626;
  border-left: 2px solid #262626;
  transform: rotate(226deg);
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.scroll_bottom.active {
  display: inline;
  bottom: 20px;
  right: 20px;
}
.head-about {
  background-image: url('../img/aboutbg.jpg');
}
.head-about h1::after {
  background-color: #262626;
}
section.about h2 {
  font-family: 'Prata';
  font-size: 64px;
  text-transform: none;
  font-weight: normal;
}
section.tracy {
  margin: 150px 0 100px;
}
section.tracy .content_wrap {
  display: flex;
  flex-wrap: nowrap;
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  align-items: center;
}
section.tracy .content_wrap .tracy-img_wrap,
section.tracy .content_wrap .tracy-text {
  width: 50%;
}
section.tracy .content_wrap .tracy-text {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 70px;
  flex-direction: column;
}
section.tracy .content_wrap .tracy-text h2 {
  text-align: left;
  margin-bottom: 50px;
}
section.tracy .content_wrap .tracy-text .col_wrap {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 14px;
  font-family: 'Montserrat';
  font-weight: 600;
}
section.tracy .content_wrap .tracy-text .col_wrap .col {
  text-align: justify;
  width: 50%;
  word-break: break-all;
}
section.tracy .content_wrap .tracy-text .col_wrap .col:first-of-type {
  margin-right: 30px;
}
section.tracy .content_wrap .tracy-text .col_wrap .col p {
  padding-bottom: 30px;
}
section.tracy .content_wrap .tracy-img_wrap {
  position: relative;
  max-width: 500px;
}
section.tracy .content_wrap .tracy-img_wrap .imgborder {
  border: 2px solid #000;
  height: 100%;
  position: absolute;
  width: calc(100% - 130px);
}
section.tracy .content_wrap .tracy-img_wrap img {
  box-shadow: 0px 0px 10px 5px rgba(161, 152, 161, 0.3);
  display: block;
  margin: 50px 0 30px auto;
  max-height: 520px;
  object-fit: cover;
  position: relative;
}
section.company {
  margin: 0 0 170px auto;
}
section.company .company_wrap {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  margin-left: auto;
  align-items: center;
  width: 90%;
}
section.company .company_wrap img {
  display: block;
  width: 100%;
  object-fit: cover;
}
section.company .company_wrap .cp-text {
  text-align: justify;
  font-size: 14px;
  font-family: 'Montserrat';
  font-weight: normal;
  width: 40%;
}
section.company .company_wrap .cp-text h2 {
  margin-bottom: 30px;
}
section.company .company_wrap .cp-text p {
  line-height: 20px;
}
section.company .company_wrap .cp-text p:not(:last-of-type) {
  padding-bottom: 30px;
}
section.company .company_wrap .cp-img {
  margin-left: 100px;
  width: 60%;
}
.newsletter_wrap {
  display: flex;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto 130px;
  justify-content: space-between;
  align-items: center;
}
.newsletter_wrap .nl-text {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  text-align: left;
  width: 25%;
}
.newsletter_wrap form {
  width: calc(75% - 30px);
  margin-left: 30px;
  position: relative;
}
.newsletter_wrap form input {
  background-color: #fafafa;
  padding: 20px 15px;
  width: 100%;
  font-family: 'Montserrat';
  font-size: 14px;
}
.newsletter_wrap form input::placeholder {
  font-weight: 600;
}
.newsletter_wrap form input:focus {
  border-left: 2px solid #262626;
}
.newsletter_wrap form button {
  position: absolute;
  right: 25px;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  transition: all, 0.5s ease;
}
.newsletter_wrap form button i {
  font-size: 18px;
}
.newsletter_wrap form button:hover {
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}
header.head-ct {
  background-image: url('../img/contactbg.jpg');
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.head-ct h1:after {
  background-color: #ffffff;
}
header.head-ct .subtitle {
  font-size: 30px;
  font-weight: normal;
  font-family: 'Montserrat';
  width: 25%;
}
.form_wrap {
  width: 90%;
  max-width: 1210px;
  margin: 100px auto 85px;
  display: flex;
  justify-content: space-between;
}
.form_wrap form {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 70%;
}
.form_wrap form .label_wrap {
  display: flex;
}
.form_wrap form .label_wrap label {
  width: 50%;
}
.form_wrap form .label_wrap label:first-of-type {
  margin-right: 30px;
}
.form_wrap form .field_wrap {
  display: flex;
}
.form_wrap form .field_wrap input {
  width: 50%;
}
.form_wrap form .field_wrap input#customer-name {
  margin-right: 30px;
}
.form_wrap form input,
.form_wrap form textarea {
  border: 2px solid #515151;
  padding: 15px;
  font-family: 'Montserrat';
}
.form_wrap form input:focus,
.form_wrap form textarea:focus {
  border-left: 5px solid #bd1a1a;
}
.form_wrap form textarea {
  resize: none;
}
.form_wrap form label {
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Montserrat';
  font-weight: bold;
  padding: 20px 0;
}
.form_wrap form button {
  display: flex;
  width: max-content;
  padding: 20px 50px;
  margin-top: 30px;
  background: #000000;
  color: #ffffff;
  font-size: 11px;
  font-family: 'Montserrat';
  font-weight: bold;
  letter-spacing: 1px;
  transition: all, 0.2s ease;
  border: 2px solid transparent;
}
.form_wrap form button:hover,
.form_wrap form button:focus {
  border-color: #000000;
  color: #000000;
  background-color: transparent;
}
.form_wrap .contact_info {
  text-align: left;
  width: calc(30% - 30px);
  margin-left: 30px;
  font-family: 'Montserrat';
}
.form_wrap .contact_info h4 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 40px;
}
.form_wrap .contact_info h4.brand-ct {
  text-transform: uppercase;
}
.form_wrap .contact_info .ct-list {
  font-size: 14px;
  font-weight: 600;
}
.form_wrap .contact_info .ct-list li {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.form_wrap .contact_info .ct-list li a:hover {
  text-decoration: underline;
}
.form_wrap .contact_info .ct-list li a.mail-link {
  color: #0060ff;
}
.form_wrap .contact_info .ct-list li:nth-of-type(2) {
  margin-bottom: 15px;
}
.form_wrap .contact_info .ct-list li:nth-of-type(3) a {
  padding-left: 24px;
}
.form_wrap .contact_info .ct-list li i {
  padding-right: 10px;
}
.form_wrap .contact_info .social-ct-list {
  display: flex;
}
.form_wrap .contact_info .social-ct-list li a {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;
  margin-right: 15px;
}
.form_wrap .contact_info .social-ct-list li a:hover,
.form_wrap .contact_info .social-ct-list li a:focus {
  background-color: #000000;
  color: #ffffff;
}
header.head-blog {
  padding: 150px;
  color: #ffffff;
  background-color: #515151;
  background-image: url('../img/blogbg.jpg');
}
header.head-blog .mainblog-title {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: max-content;
  margin-right: auto;
}
header.head-blog .mainblog-title h1 {
  margin-bottom: 40px;
}
header.head-blog .mainblog-title h1::after {
  display: none;
}
header.head-blog .mainblog-title .subtitle {
  font-size: 24px;
  font-family: 'Montserrat';
  font-weight: 500;
  word-spacing: 5px;
}
header.head-blog .mainblog-title .btn-main-post {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Montserrat';
  text-transform: uppercase;
  margin-top: 30px;
  font-size: 11px;
  font-weight: bold;
  padding: 20px 100px;
  letter-spacing: 1px;
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
  display: inline-block;
}
header.head-blog .mainblog-title .btn-main-post::before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #bd1a1a;
  height: 4px;
  transition-property: right;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
header.head-blog .mainblog-title .btn-main-post:hover::before,
header.head-blog .mainblog-title .btn-main-post:focus::before,
header.head-blog .mainblog-title .btn-main-post:active::before {
  right: 0;
}
.filter_wrap {
  font-family: 'Montserrat';
}
.filter_wrap #filterby {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.filter_wrap #cat-check {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-weight: 400;
  margin: 15px 0;
}
.filter_wrap #cat-check li {
  margin: 0 15px;
}
.filter_wrap #cat-check li label {
  transition: all, 0.4s ease;
}
.filter_wrap #cat-check li label:hover {
  color: #bd1a1a;
}
#blogfeed #postslist {
  margin-top: 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#blogfeed #postslist li {
  width: calc(50% - 60px);
  margin: 30px;
  text-align: left;
  transition: all, 0.4s ease;
  cursor: pointer;
}
#blogfeed #postslist li .blogimg_wrap {
  position: relative;
}
#blogfeed #postslist li .blogimg_wrap img {
  display: block;
  width: 100%;
  object-fit: cover;
}
#blogfeed #postslist li .blogimg_wrap .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all, 0.4s ease;
  top: 0;
  left: 0;
  opacity: 0.6;
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
}
#blogfeed #postslist li .blogtext_wrap {
  padding: 30px 20px 30px 15px;
}
#blogfeed #postslist li .blogtext_wrap .post-title {
  font-family: 'Prata';
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}
#blogfeed #postslist li .blogtext_wrap .post-preview {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #747474;
  margin-bottom: 50px;
}
#blogfeed #postslist li .blogtext_wrap .post-read {
  display: block;
  margin-left: auto;
  width: fit-content;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 11px;
  position: relative;
  padding-left: 50px;
}
#blogfeed #postslist li .blogtext_wrap .post-read::before {
  content: '';
  width: 40px;
  height: 2px;
  background-color: #262626;
  position: absolute;
  top: 50%;
  left: 0;
  transition: all, 0.2s ease;
}
#blogfeed #postslist li .blogtext_wrap .post-read:hover:before {
  transform: translateX(-10px);
}
#blogfeed #postslist li:hover {
  box-shadow: 0px 0px 10px 5px rgba(161, 152, 161, 0.3);
}
#blogfeed #postslist li:hover .overlay {
  opacity: 0;
}
#instafeed {
  margin-top: 50px;
}
#instafeed .ig-link {
  font-family: 'Tomatoes';
  font-size: 32px;
}
#instafeed .ig-link:hover {
  text-shadow: 2px 2px 0px #ffffff, 5px 4px 0px rgba(0, 0, 0, 0.15);
}
#instafeed .igprofile {
  display: flex;
  width: fit-content;
  align-items: center;
  font-family: 'Montserrat';
}
#instafeed .igprofile p {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 18px;
  border: 1px solid #999999;
  margin: 0 15px 0 30px;
}
#instafeed .igprofile a {
  font-weight: bold;
}
#instafeed .igprofile a:hover {
  text-decoration: underline;
}
#instafeed #igposts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
}
#instafeed #igposts li {
  margin: 15px;
  width: calc((100% / 3) - 30px);
}
#instafeed #igposts li img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 10px;
  transition: all, 0.4s ease;
}
#instafeed #igposts li:hover img {
  box-shadow: 0px 0px 10px 5px rgba(161, 152, 161, 0.3);
}
.feed {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.radio,
input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.radio + label,
input[type="checkbox"] + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
.radio + label:before,
input[type="checkbox"] + label:before {
  content: '•';
  color: #ffffff;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #000000;
  border-radius: 2px;
  margin-right: 10px;
  text-align: center;
}
.radio:checked + label::before,
input[type="checkbox"]:checked + label::before {
  background: #000000;
  transition: all, 0.2s ease;
}
#single-head {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: #ffffff;
}
#single-head .overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#single-head h1 {
  font-size: 60px;
  width: 70%;
}
#single-head h1::after {
  display: none;
}
.post-action {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
  font-family: 'Montserrat';
}
.post-action .gen-info {
  font-weight: normal;
  font-size: 14px;
  color: #666666;
}
.post-action .gen-info p .date {
  margin: 0 15px;
}
.post-action .gen-info p a:hover {
  text-decoration: underline;
  color: #262626;
}
.post-action .gen-info p i {
  padding-right: 5px;
}
.post-action #share,
.post-action .share-links {
  display: flex;
  align-items: center;
}
.post-action .share-links .shareon {
  font-size: 12px;
  font-weight: bold;
  margin-right: 25px;
  text-transform: uppercase;
  color: #999999;
}
.post-action .share-links #share li {
  margin: 0 5px;
}
.post-action .share-links #share li a {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.post-action .share-links #share li a:hover {
  box-shadow: 0px 0px 10px 5px rgba(161, 152, 161, 0.3);
}
article {
  padding-top: 30px;
  border-top: 1px solid #999999;
}
article h2 {
  text-align: left;
  margin: 30px 0;
  font-family: 'Proxima Nova';
}
article p {
  text-align: justify;
  line-height: 24px;
  font-size: 18px;
  font-family: 'Montserrat';
  font-weight: normal;
  padding: 15px 0;
}
article,
.post-action {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
.form-container {
  width: 90%;
  max-width: 1000px;
  margin: 100px auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 5px rgba(161, 152, 161, 0.3);
  font-family: 'Montserrat';
}
.form-container form {
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
}
.form-container form .row {
  display: flex;
}
.form-container form .row .field {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.form-container form .row .field:nth-of-type(even) {
  margin-left: 30px;
}
.form-container form .row .field label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}
.form-container form .row .field input {
  padding: 5px 15px;
  font-size: 14px;
  font-weight: normal;
  border: 1px solid #999999;
  margin: 10px 0;
}
.form-container form .row .field input:focus {
  border-left: 5px solid #515151;
}
.form-container form .check_wrap {
  margin: 30px 0;
  font-size: 12px;
}
.form-container form .check_wrap .row {
  display: flex;
  align-items: center;
}
.form-container form .check_wrap .row:first-of-type {
  margin-bottom: 15px;
}
.form-container form .check_wrap .row a {
  padding: 0 5px;
  color: #0060ff;
}
.form-container form .check_wrap .row a:hover {
  text-decoration: underline;
}
.form-container form .joinaction {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.form-container form .joinaction a {
  display: inline-flex;
  align-items: center;
  line-height: 20px;
  font-size: 14px;
}
.form-container form .joinaction a:hover {
  color: #999999;
}
.form-container form .joinaction button {
  padding: 10px 15px;
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 11px;
  border: 2px solid transparent;
  transition: all, 0.4s ease;
}
.form-container form .joinaction button:hover {
  color: #000000;
  border-color: #000000;
  background-color: transparent;
}
label.error {
  color: #bd1a1a;
  font-family: 'Proxima Nova';
  text-transform: none !important;
}
.swal2-container.swal2-center {
  padding: 0 !important;
}
body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
  overflow-y: scroll!important;
}
body.swal2-shown.swal2-height-auto {
  padding: 0 !important;
}
.swal2-modal {
  padding: 30px 50px !important;
}
.swal2-modal .swal2-header {
  font-family: 'Proxima Nova';
  font-size: 22px;
  color: #000000;
}
#loginform {
  margin-top: 30px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  font-family: 'Montserrat';
  align-items: center;
}
#loginform .login-field {
  width: 100%;
  border: 2px solid #7e7e7e;
  padding: 10px 15px;
  font-size: 18px;
  margin-bottom: 30px;
}
#loginform .login-field:focus {
  border-color: #262626;
}
#loginform button {
  font-family: 'Montserrat';
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px 15px;
  background-color: #262626;
  transition: all, 0.4s ease;
  cursor: pointer;
  width: 50%;
  margin-bottom: 30px;
}
#loginform button:focus,
#loginform button:hover {
  background-color: #000000;
}
.catalog-slider-wrap {
  padding: 0 !important;
}
#saleslider li {
  display: flex;
  min-height: 500px;
  max-height: 500px !important;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#saleslider li.sale-item {
  background-image: url('../img/sale.jpg');
}
#saleslider li.sale-item.webp {
  background-image: url('../img/sale.webp');
}
#saleslider li.discount-item {
  background-image: url('../img/discount.jpg');
}
#saleslider li.discount-item.webp {
  background-image: url('../img/discount.webp');
}
#saleslider li.collection-item {
  background-image: url('../img/limited.jpg');
}
#saleslider li.collection-item.webp {
  background-image: url('../img/limited.webp');
}
#saleslider li .promo {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: auto;
}
#saleslider li .promo h2 {
  margin-top: 80px;
  font-family: 'Prata';
  font-size: 72px;
  text-transform: uppercase;
}
#saleslider li .promo p {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 24px;
  margin: 50px 0 40px;
}
#saleslider li .promo .btnlearn {
  font-family: 'Montserrat';
  color: #ffffff;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  background-color: #000000;
  padding: 10px 15px;
  font-weight: bold;
  border: 2px solid transparent;
}
#saleslider li .promo .btnlearn:hover {
  color: #000000;
  border-color: #000000;
  background-color: transparent;
}
.content {
  display: flex;
  flex-wrap: nowrap;
  margin: 65px 50px 0;
}
.content #catmain {
  width: 75%;
  margin: 0 !important;
}
.content #catmain .sortby {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: 'Montserrat';
}
.content #catmain .sortby p {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 30px;
}
.content #catmain .sortby a {
  font-size: 12px;
  font-weight: 500;
  color: #999999;
}
.content #catmain .sortby a#low {
  margin-right: 15px;
}
.content #catmain .sortby a.sort-active {
  color: #262626;
  text-decoration: underline;
}
.content #catmain .sortby a:hover {
  color: #262626;
}
.content #catmain #productslist {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content #catmain #productslist li {
  width: calc(100% / 3);
}
.content #catmain #productslist li img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.content #filterblock {
  width: 25%;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 5px rgba(161, 152, 161, 0.3);
  margin-left: 30px;
}
.content #catmain,
.content #filterblock {
  padding: 50px 30px;
}
.content #filterblock .filteropt h2 {
  font-family: 'Playfair Display';
  font-size: 32px;
  margin: 30px 0;
}
.content #filterblock .filteropt #catlist {
  font-family: 'Proxima Nova';
  font-size: 22px;
}
.content #filterblock .filteropt #catlist li {
  padding: 15px 0;
}
.content #filterblock .filteropt #catlist li a:hover,
.content #filterblock .filteropt #catlist li.cat-active {
  color: #bd1a1a;
}
.content #filterblock .filteropt #colorlist {
  display: flex;
  flex-wrap: wrap;
}
.content #filterblock .filteropt #colorlist li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #747474;
}
.content #filterblock .filteropt #colorlist li a.black {
  background-color: #000000;
}
.content #filterblock .filteropt #colorlist li a.white {
  background-color: #ffffff;
  margin: 0 10px;
}
.content #filterblock .filteropt #colorlist li a.silver {
  background-color: #b2b2b2;
}
.content #filterblock .filteropt #colorlist li.color-choice a,
.content #filterblock .filteropt #colorlist li.color-choice a:hover {
  border-color: #bd1a1a;
}
.shopcontrols,
.salecontrols {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  z-index: 100;
}
.shopcontrols a,
.salecontrols a {
  width: 50px;
  height: 50px;
  border-bottom: 1px solid #262626;
  border-left: 1px solid #262626;
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -25px;
}
.shopcontrols a:hover,
.salecontrols a:hover {
  opacity: 0.4;
}
.shopcontrols a#shop_prev {
  left: 0;
  transform: rotate(45deg);
}
.shopcontrols a#shop_next {
  right: 0;
  transform: rotate(220deg);
}
.salecontrols a#sale_prev {
  left: 30px;
  transform: rotate(45deg);
}
.salecontrols a#sale_next {
  right: 30px;
  transform: rotate(220deg);
}
@media screen and (max-width: 1104px) {
  .top-slider #hotproducts li .hot-text .tocart {
    padding: 20px 50px;
  }
  .top-slider #hotproducts li .hotitem-name {
    font-size: 32px !important;
  }
}
@media screen and (max-width: 1024px) {
  #catalog li {
    width: calc(100% / 3) !important;
  }
  section.tracy {
    margin: 150px 0 100px;
  }
  section.tracy .content_wrap .tracy-text {
    padding-left: 30px;
  }
  section.tracy .content_wrap .tracy-img_wrap img {
    margin: 30px 0 30px auto;
  }
  section.company {
    margin: 0 0 170px auto;
  }
  section.company .company_wrap {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    margin-left: auto;
    align-items: center;
    width: 90%;
  }
  section.company .company_wrap img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
  section.company .company_wrap .cp-text {
    text-align: justify;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: normal;
    width: 40%;
  }
  section.company .company_wrap .cp-text h2 {
    margin-bottom: 30px;
  }
  section.company .company_wrap .cp-text p {
    line-height: 20px;
  }
  section.company .company_wrap .cp-text p:not(:last-of-type) {
    padding-bottom: 30px;
  }
  section.company .company_wrap .cp-img {
    margin-left: 100px;
    width: 60%;
  }
  section.about h2 {
    font-size: 52px;
  }
  .content #catmain {
    width: 70%;
    margin: 0 !important;
  }
  .content #catmain #productslist li {
    width: 50%;
  }
  .content #filterblock {
    width: 30%;
  }
  .content #filterblock .filteropt h2 {
    font-size: 24px;
  }
  .content #filterblock .filteropt h2:first-of-type {
    margin-top: 0 !important;
  }
  .content #filterblock .filteropt #catlist {
    font-size: 18px;
  }
}
@media screen and (max-width: 992px) {
  .top-slider #hotproducts li .hot-text {
    width: 50%;
  }
  .top-slider #hotproducts li .hot-text .tocart {
    padding: 20px 25px;
  }
  .top-slider #hotproducts li .hot-img {
    width: 50%;
  }
  section.company .company_wrap .cp-text p {
    word-break: break-all;
  }
  .newsletter_wrap {
    margin-bottom: 50px;
  }
  section.tracy {
    margin: 50px 0;
  }
  section.tracy .content_wrap .tracy-text {
    width: calc(70% - 30px);
    margin-left: 30px;
  }
  section.tracy .content_wrap .tracy-text h2 {
    margin-bottom: 25px;
  }
  section.tracy .content_wrap .tracy-img_wrap {
    width: 30%;
  }
  section.tracy .content_wrap .tracy-img_wrap img {
    width: 100%;
    margin: 15px;
  }
  section.tracy .content_wrap .tracy-img_wrap .imgborder {
    width: calc(100% + 30px);
  }
  #blogfeed #postslist li .blogtext_wrap .post-title {
    font-size: 20px;
  }
  .form_wrap {
    margin: 0 auto;
  }
  .form_wrap .contact_info h4 {
    font-size: 24px;
  }
}
@media screen and (max-width: 880px) {
  #catalog li {
    width: 50% !important;
  }
}
@media screen and (max-width: 768px) {
  .top-slider #hotproducts li {
    flex-direction: column-reverse;
    padding: 25px 50px;
  }
  .top-slider #hotproducts li .hot-text {
    width: 75%;
  }
  .top-slider #hotproducts li .hot-text .tocart {
    padding: 20px 25px;
  }
  .top-slider #hotproducts li .hot-text .hotitem-price {
    margin: 25px 0;
  }
  .top-slider #hotproducts li .hot-img {
    width: 25%;
    order: 1;
  }
  .top-slider #hotproducts li .hotitem-name {
    font-size: 24px !important;
  }
  .gallery #lookbook {
    gap: 15px 15px;
  }
  .map #showrooms li {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .map #showrooms li .shopimg {
    width: 100%;
    position: relative;
    padding: 0 !important;
  }
  .map #showrooms li .shopinfo {
    position: absolute;
    z-index: 100;
    top: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    color: #ffffff;
    padding: 15px 0 !important;
  }
  .shopcontrols a {
    border-color: #ffffff;
  }
  .shopcontrols a#shop_prev {
    left: 30px;
  }
  .shopcontrols a#shop_next {
    right: 30px;
  }
  .map #map {
    height: 450px;
  }
  main {
    padding: 40px 0;
  }
  section.tracy {
    margin: 50x 0 60px;
  }
  section.tracy .content_wrap {
    flex-wrap: wrap;
    justify-content: center;
  }
  section.tracy .content_wrap .tracy-img_wrap,
  section.tracy .content_wrap .tracy-text {
    width: 100%;
  }
  section.tracy .content_wrap .tracy-text {
    flex-wrap: wrap;
    padding-left: 0;
    flex-direction: row;
    margin: 0;
    justify-content: center;
  }
  section.tracy .content_wrap .tracy-text .col_wrap {
    flex-wrap: wrap;
  }
  section.tracy .content_wrap .tracy-text .col_wrap .col {
    text-align: justify;
    width: 100%;
    word-break: break-all;
  }
  section.tracy .content_wrap .tracy-text .col_wrap .col:first-of-type {
    margin-right: 0px;
  }
  section.tracy .content_wrap .tracy-text .col_wrap .col p {
    padding-bottom: 30px;
  }
  section.tracy .content_wrap .tracy-img_wrap {
    position: relative;
    max-width: 500px;
  }
  section.tracy .content_wrap .tracy-img_wrap .imgborder {
    display: none;
  }
  section.tracy .content_wrap .tracy-img_wrap img {
    height: 300px;
    margin: 0;
  }
  section.company {
    margin: 0 0 50px auto;
  }
  section.company .company_wrap {
    flex-wrap: wrap;
    margin: auto;
  }
  section.company .company_wrap .cp-text {
    width: 100%;
    margin-bottom: 30px;
  }
  section.company .company_wrap .cp-text p {
    line-height: 20px;
  }
  section.company .company_wrap .cp-text p:not(:last-of-type) {
    padding-bottom: 30px;
  }
  section.company .company_wrap .cp-img {
    width: 100%;
    margin: 0;
  }
  .newsletter_wrap .nl-text {
    font-size: 14px;
  }
  .catalog-slider-wrap {
    margin: 0;
    box-shadow: none;
  }
  #saleslider li h2 {
    font-size: 48px !important;
  }
  .content {
    margin: 0;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
  }
  .content #catmain {
    width: 75%;
    box-shadow: none;
  }
  .content #catmain .sortby {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Montserrat';
  }
  .content #catmain .sortby p {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 30px;
  }
  .content #catmain .sortby a {
    font-size: 12px;
    font-weight: 500;
    color: #999999;
  }
  .content #catmain .sortby a#low {
    margin-right: 15px;
  }
  .content #catmain .sortby a.sort-active {
    color: #262626;
    text-decoration: underline;
  }
  .content #catmain .sortby a:hover {
    color: #262626;
  }
  .content #filterblock {
    width: 25%;
    background-color: #ffffff;
    box-shadow: none;
    margin-left: 0;
    border-left: 2px solid #000000;
  }
  .content #catmain,
  .content #filterblock {
    padding: 20px;
  }
  .content #filterblock .filteropt h2 {
    font-size: 18px;
  }
  .content #filterblock .filteropt #catlist {
    font-family: 'Proxima Nova';
    font-size: 16px;
  }
  .content #filterblock .filteropt #catlist li {
    padding: 5px 0;
  }
  .content #filterblock .filteropt #catlist li a:hover,
  .content #filterblock .filteropt #catlist li.cat-active {
    color: #bd1a1a;
  }
  .content #filterblock .filteropt #colorlist li a {
    width: 20px;
    height: 20px;
  }
  #blogfeed #postslist {
    margin-top: 30px;
  }
  #blogfeed #postslist li {
    width: calc(50% - 20px);
    margin: 10px;
  }
  #blogfeed #postslist li .blogtext_wrap {
    padding: 15px;
  }
  #blogfeed #postslist li .blogtext_wrap .post-title {
    font-size: 18px;
    margin-bottom: 15px;
  }
  #blogfeed #postslist li .blogtext_wrap .post-preview {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 20px;
  }
  #single-head {
    margin: 0;
    padding: 50px;
  }
  #single-head h1 {
    font-size: 40px;
    width: 70%;
  }
  header.head-blog {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  header.head-blog .mainblog-title {
    margin: 0;
  }
  .form_wrap {
    width: 90%;
    margin: 50px auto;
    flex-wrap: wrap;
  }
  .form_wrap form {
    width: 100%;
  }
  .form_wrap .contact_info {
    width: 100%;
    margin: 30px 0 0;
  }
  .form_wrap .contact_info .ct-social,
  .form_wrap .contact_info .social-ct-list {
    width: fit-content;
    margin-left: auto;
  }
  header.head-ct {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 0;
  }
  header.head-ct h1:after {
    display: none;
  }
  header.head-ct .subtitle {
    text-align: center;
    width: 100%;
  }
}
.tabs_wrap {
  font-family: 'Montserrat';
}
.tabs_wrap .nav #tabs {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tabs_wrap .nav #tabs li {
  text-transform: uppercase;
  transition: all, 0.2s ease;
  font-size: 11px;
  font-weight: bold;
  color: #cccccc;
  margin: 0 25px;
  letter-spacing: 1px;
  cursor: pointer;
}
.tabs_wrap .nav #tabs li.active,
.tabs_wrap .nav #tabs li:hover {
  color: #262626;
}
.tabs_wrap .content_wrap {
  display: none;
}
.tabs_wrap .content_wrap.current {
  display: flex;
}
.tabs_wrap .content_wrap .inner_wrap {
  padding: 70px 180px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  word-break: break-word;
}
.tabs_wrap .content_wrap .inner_wrap p:not(:last-of-type) {
  padding-bottom: 30px;
}
.tabs_wrap .content_wrap .inner_wrap .warning {
  font-size: 12px;
  color: #7e7e7e;
}
.tabs_wrap .content_wrap .inner_wrap .warning a {
  color: #262626;
}
.tabs_wrap .content_wrap .inner_wrap .warning a:hover,
.tabs_wrap .content_wrap .inner_wrap .warning a:focus {
  color: #bd1a1a;
}
.tabs_wrap .content_wrap .inner_wrap #reviews {
  display: flex;
  flex-direction: column;
}
.tabs_wrap .content_wrap .inner_wrap #reviews li {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}
.tabs_wrap .content_wrap .inner_wrap #reviews li .user {
  width: 20%;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tabs_wrap .content_wrap .inner_wrap #reviews li .user img {
  display: block;
  object-fit: cover;
  width: 50px;
  margin-bottom: 5px;
  border-radius: 50%;
}
.tabs_wrap .content_wrap .inner_wrap #reviews li .user .username {
  font-weight: bold;
}
.tabs_wrap .content_wrap .inner_wrap #reviews li .user-review {
  width: calc(80% - 30px);
  text-align: left;
}
aside#prod-related {
  margin: 65px 50px 0;
  padding: 80px 0;
  text-align: center;
  box-shadow: 0px 0px 10px 5px rgba(161, 152, 161, 0.3);
  background-color: #ffffff;
}
aside#prod-related h2 {
  font-size: 30px;
  font-family: 'Prata';
  font-weight: normal;
}
